@import url(reset.css);

/*header*/
.container {
    max-width: 100%;
    width: 1195px !important;
    margin: 0 auto;
    padding: 0 20px !important;
}
.row{
    margin: 0 !important;
}
.row-col{
    padding: 0 !important;
}
.row.header{
    padding-bottom: 4%;
}
.logo-block .logo a{
    display: block;
    cursor: pointer;
    text-decoration: none;
}
.logo-block .logo h1{
    font: 72px 'Edwardian-Script-ITC-Regular';
    color: #C1A847;
    position: relative;
    right: 22px;
    margin: 0;
}
.logo-block .logo span{
    font: 23px 'Futura-Lt-BT-Light';
    color: #373F5B;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.call-us-block{
    text-align: right;
    padding-top: 6% !important;
}
.call-us-block p{
    font: 18px 'Lucida-Grande-Regular';
    color: #373F5B;
    display: inline-block;
    margin-right: 3%;
    position: relative;
    top: 6px;
}
.call-us-block span{
    font: 26px 'Futura-Md-BT-Medium';
    color: #373F5B;
}
.call-us-block a{
    background: #373F5A;
    border: 1px solid #373F5A;
    color: #fff;
    font: 14px 'Futura-Lt-BT-Light';
    text-transform: uppercase;
    padding: 10px 15px;
    text-decoration: none;
    webkit-transition: 0.5s ease-in-out, color 0.5s linear;
    -moz-transition: 0.5s ease-in-out, color 0.5s linear;
    transition: 0.5s ease-in-out, color 0.5s linear;
}
.call-us-block a:hover{
    border: 1px solid #373F5A;
    background: transparent;
    color: #373F5A;
    text-decoration: none;
}

/*Nav*/
.navbar-collapse{
    overflow: hidden;
    width: 100% !important;
    padding: 0!important;
}
.nav-border{
    border: 1px solid #E1DCD7;
    height: 5px;
}
.nav-block ul li{
    display: inline-block;
    padding: 20px 28px 20px 0;
}
.nav-block ul li:last-child{
    padding-right: 0;
}
.navbar-nav{
    width: 100% !important;
}
.navbar-nav>li{
    float: none !important;
    clear: both;
}
.nav-block ul li a{
    color: #6F7070;
    font: 14px 'Futura-Lt-BT-Light';
    text-transform: uppercase;
    text-decoration: none;
    padding: 0;
    margin: 0;
    display: inline !important;
}
.nav-block ul li a:hover{
    color: #373F5A;
    border-top: 4px solid #373F5A;
    padding-top: 23px;
    display: inline !important;
    margin: 0 !important;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    background: transparent !important;
}
.nav-block .menu-dropdown{
    display: none;
    width: 340px;
    height: 140px;
    position: absolute;
    padding-top: 20px;
}
.nav-block .menu-dropdown .dropdown2{
    display: none;
}
.nav-block .menu-dropdown .dropdown1{
    background: #373F5A;
    width: 200px;
    border-right: 1px solid #fff;
    padding: 20px 25px;
}
.nav-block .menu-dropdown .dropdown1 ul li{
    padding: 5px 0 0 0;
}
.nav-block .menu-dropdown .dropdown1 ul li a{
    color: #DCDDE3;
    font: 14px 'Futura-Lt-BT-Light';
    text-transform: inherit;
}
.nav-block .menu-dropdown .dropdown1 ul li a:hover{
    color: #BFA947;
    padding-top: 0 !important;
    -webkit-transition: none;
    -moz-transition:none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}
.nav-block ul li:hover > .menu-dropdown{
    display: block;
    transition-delay: 5s;
}
.nav-block .menu-dropdown .dropdown1 ul li:hover > .dropdown2{
    display: block;
    position: absolute;
    right: 0;
    top: 14%;
}
/*Slider*/
.slider{
    background: url(../images/slider_img.png) center no-repeat;
    width: 100%;
    height: 238px;
}
.line_under_slider{
    height: 70px;
    background: #373F5A;
}
.line_under_slider p{
    color: #fff;
    font: 35px 'Futura-Lt-BT-Light';
    text-transform: uppercase;
    padding-top: 15px;
}
/*Section*/
.section1{
    width: 43% !important;
    max-width: 100%;
    margin-right: 3%;
}
.section2{
    width: 53.5% !important;
    max-width: 100%;
    position: relative;
    bottom: 135px;
    margin-bottom: -8%;
}
.section-text{
    padding-top: 12%;
}
.section-text p{
    color: #969696;
    font: 13px 'Lucida-Grande-Regular';
    line-height: 20px;
}
.section-text p.section-text-bottom{
    color: #1d275a;
}
.section-scroller{
    border: 10px solid #fff;
}

#slides .slidesNext {
    right:-35px;
    left:auto;
}
#slides .slidesPrevious {
    left:-35px;
}
#slides .slidesNext,#slides .slidesPrevious {
    position:absolute;
    top:0%;
    left:0;
    margin-top:35%;
    padding-top:32px;
    display:block;
    z-index:101;
    overflow:hidden;
    background:url(../images/arrow-left.png) no-repeat 0 0;
    width: 56px;
    height: 111px;
}
#slides .slidesNext {
    left:inherit;
    right: 0;
    background:url(../images/arrow-right.png) no-repeat 0 0;
}
.slidesPagination {
    margin:10px 0 0;
    float:right;
}
.slidesPagination li {
    float:left;
    margin:0 1px;
    list-style:none;
}
.slidesPagination li a {
    display:block;
    width:14px;
    height:0;
    padding-top:14px;
    background-image:url(../images/pagination.png);
    background-position:0 0;
    overflow:hidden;
}
.slidesPagination li.slidesCurrent a {
    background-position:0 -14px;
}
.undersection{
    text-align: center;
    width: 32% !important;
    margin: 0 2% 7% 0;
}
.undersection.last{
    margin-right: 0;
}
.undersection .top-border{
    height: 5px;
    border-top: 1px solid #E1DCD7;
    border-bottom: 1px solid #E1DCD7;
}
.undersection h3{
    color: #6F7070;
    font: 18px 'Futura-Lt-BT-Light';
    text-transform: uppercase;
}
.undersection .undersection-img{
    position: relative;
}
.undersection .undersection-img img{
    width: 100%;
}
.undersection .undersection-active{
    position: absolute;
    top: 0;
    height: 100%;
    display: none;
    webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}
.undersection .undersection-active-info{
    z-index: 2;
    position: relative;
    padding: 12% 0 0 8%;
}
.undersection .undersection-active-bg{
    background: #1C295B;
    opacity: 0.5;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.undersection .undersection-img:hover > .undersection-active{
    display: block;
    webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
}
.undersection-active-info span{
    font:90px 'Minion Pro';
    color: #fff;
    opacity: 1!important;
    float: left;
}
.undersection-active-info p{
    font:13px 'Lucida-Grande-Regular';
    color: #fff;
    opacity: 1 !important;
    text-align: left !important;
    padding: 5% 15% 10% 11%;
}
.undersection-active-info a{
    color: #fff;
    font: 14px 'Futura-Md-BT-Medium';
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 8px 12px;
    webkit-transition: 0.5s ease-in-out, color 0.5s linear;
    -moz-transition: 0.5s ease-in-out, color 0.5s linear;
    transition: 0.5s ease-in-out, color 0.5s linear;
}
.undersection-active-info a:hover{
    text-decoration: none;
    webkit-transition: 0.5s ease-in-out, color 0.5s linear;
    -moz-transition: 0.5s ease-in-out, color 0.5s linear;
    transition: 0.5s ease-in-out, color 0.5s linear;
}
/*Footer*/
footer{
    font-family: 'Lucida-Grande-Regular';
}
.footer-top{
    border: 1px solid #E1DCD7;
    height: 5px;
    margin-bottom: 2%;
}
.footer-top-social{
    width: 150px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    bottom: 11px;
    background: #fff;
}
.footer-top-social ul li{
    display: inline-block;
    padding-right: 9%;
}
.footer-top-social ul li:last-child{
    padding-right: 0;
}
.footer-top-social ul li a.soc-fb{
    background: url(../images/icon_fb.png) no-repeat;
    width: 10px;
    height: 21px;
    display: block;
    transition: 0.5s;
}
.footer-top-social ul li a.soc-fb:hover{
    background: url(../images/icon_fb_active.png) no-repeat;
    transition: 0.5s;
}
.footer-top-social ul li a.soc-p{
    background: url(../images/icon_p.png) no-repeat;
    width: 17px;
    height: 21px;
    display: block;
    transition: 0.5s;
}
.footer-top-social ul li a.soc-p:hover{
    background: url(../images/icon_p_active.png) no-repeat;
    transition: 0.5s;
}
.footer-top-social ul li a.soc-tw{
    background: url(../images/icon_tw.png) no-repeat;
    width: 22px;
    height: 18px;
    display: block;
    transition: 0.5s;
}
.footer-top-social ul li a.soc-tw:hover{
    background: url(../images/icon_tw_active.png) no-repeat;
    transition: 0.5s;
}
.footer-top-social ul li a.soc-in{
    background: url(../images/icon_in.png) no-repeat;
    width: 20px;
    height: 20px;
    display: block;
    transition: 0.5s;
}
.footer-top-social ul li a.soc-in:hover{
    background: url(../images/icon_in_active.png) no-repeat;
    transition: 0.5s;
}
.footer-phone{
    background: url(../images/icon_phone.png) no-repeat;
    width: 100%;
    margin-left: 1%;
    color: #959595;
    font-size: 13px;
    padding: 0 0 2% 5%;
}
.footer2{
    padding-left: 6%!important;
    margin-bottom: 3%;
}
.footer3{
    padding-left: 10%!important;
}
.footer-phone a{
    color: #959595;
    padding-left: 2%;
}
.footer-email{
    background: url(../images/icon_mail.png) no-repeat;
    width: 100%;
    padding-left: 6%;
    font-size: 13px;
    color: #959595;
}
.footer-email a{
    color: #1c285b;
    padding-left: 4%;
}
footer h3{
    color: #5a5a5a;
    font-size: 17px;
    text-transform: uppercase;
}
footer p{
     color: #959595;
     font-size: 13px;
}
footer .footer-company-block1{
    float: left;
    padding-right: 10%;
    line-height: 23px;
}
footer .footer-company-block2{
    line-height: 23px;
}
footer .footer-company-block1 a,footer .footer-company-block2 a{
    color: #959595;
    font-size: 13px;
    text-decoration: none;
}
footer .footer-company-block1 a:hover,footer .footer-company-block2 a:hover{
    color: #c4ab2f;
    text-decoration: none;
}
footer input{
    float: left;
    padding: 3% 0 3% 5%;
    width: 100%;
    border: 1px solid #E1DCD7;
}
.footer3 a.subscribe-button{
    background: url(../images/subscribe-icon.png) 15px 11px no-repeat;
    display: block;
    width: 8px;
    height: 32%;
    float: right;
    padding: 0% 10% 0px 5%;
    position: absolute;
    bottom: 0%;
    border-left: 1px solid #E1DCD7;
    right: 0;
}
.footer-down{
    background: #F3F1F0;
    padding: 20px 0 0 0;
}
.footer-down p,.footer-down a{
    font: 11px 'Lucida-Grande-Regular';
    color: #959595;
}
.footer-down1{
    text-align: left;
}
.footer-down2{
    text-align: right;
}